
.site-navbar-top {
    .site-logo {
        font-size: 2rem;
    }

}

.top-bar {
    font-size: 14px;
}

.site-navbar-wrap {
    position: relative;
    z-index: 1;
    width: 100%;
    // left: 0;
    a {
        color: $black;
    }

    .site-navbar-top {
        font-size: $font-size-base - .2rem;
    }
}

.site-navbar {
    margin-bottom: 0px;
    width: 100%;
    border-bottom: none;
    // position: absolute;
    background: $white;
    position: relative;
    z-index: 99;

    .site-logo {
        font-weight: 200;

        a {
            font-weight: 200;
            color: $black;
        }
    }
}


